#typed-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(to right, #0d6efd, #6610f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}